.pageHeading {
    text-align: center;
    color: darken(#ffaa80, 10%);
    font-family: 'Indie Flower', cursive;
    font-size: 48px;
}

.pageSubHeading {
    text-align: center;
}

.categoryLink {
    width: 100%;
    max-width: 500px;
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    font-size: 24px;
    border-bottom: 1px solid #ffaa80;
    transition: 1s;

    @media (max-width: 500px) {
        flex-direction: column;
    }
}

.categoryLink:hover {
    border-color: darken(#ffaa80, 15%);

    .categoryPicture {
        transform: scale(1.05);
    }
}

.categoryHeading {
    font-size: 24px;
    color: black;
    font-family: 'Times New Roman';
}

.categoryPicture {
    width: 200px;
    transition: 0.5s;
}
